<%= form_with model: @group ||= Group.new do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Write the name here..." %>
  </div>

  <div>
    <%= f.label :icon %>
    <%= f.text_field :icon, placeholder: "Enter the link of your icon" %>
  </div>
  <%= f.submit "Submit" %>
<% end %>
