<%= form_with model: @group ||= Group.new,
:html => { :class => "flex flex-col pt-4"} do |f| %>
  <div class="border-third border-t border-b border-opacity-20 mb-4">
    <div>
      <%= f.label :name, class: 'sr-only invisible' %>
      <%= f.text_field :name, placeholder: "Write the name here...",
      class: 'w-full border-none py-4' %>
    </div>

    <div class="mx-auto w-11/12 border-t border-third border-opacity-20"></div>

    <div>
      <%= f.label :icon, class: 'sr-only invisible' %>
      <%= f.url_field :icon, placeholder: "Enter the link of your icon",
     class: 'w-full border-none py-4' %>
    </div>
  </div>
  <%= f.submit "Save",
  class: 'mx-auto w-5/6 bg-main text-center text-sm text-white p-4 uppercase rounded' %>
<% end %>
