<!DOCTYPE html>
<html>
  <head>
    <title>BudgetOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body class="min-h-screen bg-gray-100 overflow-hidden">
    <%= render 'navbar' %>
    <div class="container">
      <div class="max-h-[75vh] overflow-y-hidden">
        <%= yield %>
        <%= render "flash_notifications" %>
      </div>
    </div>
  </body>
</html>
